[mysqld]
# ---------------------------------------------------------
# 1. 关闭 Binlog (二进制日志)
# ---------------------------------------------------------
skip-log-bin

# ---------------------------------------------------------
# 2. 关闭常规日志打印
# ---------------------------------------------------------
general_log = 0
slow_query_log = 0
log_error_verbosity = 1
log-output = NONE

# ---------------------------------------------------------
# 3. 连接和超时优化
# ---------------------------------------------------------
max_connections = 500
thread_cache_size = 100
wait_timeout=300
interactive_timeout=300
thread_cache_size=32
back_log=10000
# ---------------------------------------------------------
# 4. InnoDB 引擎优化
# ---------------------------------------------------------
innodb_buffer_pool_size = 1
innodb_buffer_pool_instances=4
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 2
max_allowed_packet =500M
# ---------------------------------------------------------
# 5. 字符集配置
# ---------------------------------------------------------
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'
