*.tmp
*.csv
*.svg
*.txt
.idea/
.vscode
*.log
*.zip
!requirements.txt
*.pt
*.jpg
*.png
.git/
/models
fastapi接口/Service/PlayWright/user_data
!fastapi接口/Service/GrpcModule/Utils/user-agents_dalvik_application_2-1.json
jupyter
venv
node_modules
.virtual_documents
.ipynb_checkpoints
fastapi接口/__test
fastapi接口/Service/toutiao/src/Tools/Enc/node_modules
fastapi接口/Service/GrpcModule/Utils/极验/Geetest_html
fastapi接口/Service/GrpcModule/Grpc/GrpcProto
fastapi接口/Service/samsclub/api/app_storage.jsondoc
docker_vol
!docker_vol/mysql_data/databasegen/init.sql