__pycache__
# *.go
test.py
go.mod
go.sum
*.exe
login_info.txt
users.yaml
*.tmp
.venv
*.csv
*.svg
*.txt
.idea/
.vscode
*.log
*.zip
/utl/nlpcda_model/
.git/
/github/*
!/github/my_operator/
/b站app/bilireq/
*.pt
*.jpg
*.png
*.pkl
/NUL
/github/ChatGLM2-6B/.idea/inspectionProfiles/profiles_settings.xml
/github/ChatGLM2-6B/.idea/inspectionProfiles/Project_Default.xml
/github/ChatGLM2-6B/.idea/ChatGLM2-6B.iml
/github/ChatGLM2-6B/.idea/modules.xml
/github/ChatGLM2-6B/.idea/workspace.xml
/github/ChatGLM2-6B/ptuning/AdvertiseGen/dev.json
/github/ChatGLM2-6B/ptuning/AdvertiseGen/train.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/config.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/generation_config.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/optimizer.pt
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/pytorch_model.bin
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/rng_state.pth
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/scheduler.pt
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/special_tokens_map.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/tokenizer.model
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/tokenizer_config.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/trainer_state.json
/github/ChatGLM2-6B/ptuning/output/checkpoint-3000/training_args.bin
/github/ChatGLM2-6B/ptuning/output/微调模型chat.py
/github/ChatGLM2-6B/ptuning/train.sh
