__pycache__
# *.go
*.json
test.py
go.mod
go.sum
*.exe
login_info.txt
users.yaml
*.tmp
.venv
*.csv
*.svg
*.txt
.idea/
.vscode
*.log
*.zip
/utl/nlpcda_model/
.git/
/github/*
!/github/my_operator/
/b站app/bilireq/

