accelerate
Setuptools==75.8.1
addict
aio-pika
aiofiles
aiohappyeyeballs
aiohttp
aiomysql
aiormq
aioschedule
aiosignal
aiosqlite
aliyun-python-sdk-core
aliyun-python-sdk-kms
altair
amqp
annotated-types
ansicon
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
asyncer
asyncio
attrs
Automat
Babel
backcall
beautifulsoup4
better-exceptions
bili_ticket_gt_python
billiard
binaryornot
bitarray
bleach
blessed
blinker
Bottleneck
Brotli
browserforge
bs4
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-default-group
click-didyoumean
click-plugins
click-repl
cloudscraper
colorama
colored
coloredlogs
comm
constantly
contourpy
cookiecutter
cpm-kernels
crcmod
croniter
cryptography
cssselect
curl_cffi
cycler
Cython
dataclasses-json
datasets==2.16.0
DBUtils
ddddocr
debugpy
decorator
defusedxml
dill
distro
dnspython
docopt
editor
einops
email_validator
eval_type_backport
exceptiongroup
executing
ez_setup
fake-http-header
fake-useragent
fast-depends
fastapi
fastapi-cache2
fastapi-cdn-host
fastapi-cli
fastapi-debug-toolbar
fastapi_profiler
fastjsonschema
faststream
ffmpy
filelock
flatbuffers
flower
fonttools
fqdn
frozenlist
fsspec
ftfy
gast
gitdb
GitPython
gmpy2
gmssl
google
googleapis-common-protos
gradio_client
greenlet
grpcio
grpcio-tools
grpclib
h11
h2
hashids
hf-xet
hpack
html5lib
httpcore
httptools
httpx
httpx-socks
httpx-sse
huggingface-hub
humanfriendly
humanize
hyperframe
hyperlink
idna
importlib_metadata
importlib_resources
incremental
inflect
influxdb
iniconfig
inquirer
intel-cmplr-lib-ur
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itemadapter
itemloaders
itsdangerous
jaro-winkler
jedi
jieba
Jinja2
jinxed
jiter
jmespath
joblib
Js2Py
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kaitaistruct
kiwisolver
kombu
langchain
langchain-community
langchain-core
langchain-deepseek
langchain-openai
langchain-text-splitters
langsmith
latex2mathml
litellm
lmdb
loguru
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdtex2html
mdurl
milvus-lite
mini-racer
mistune
modelscope
more-itertools
mpmath
msgpack-asgi
multidict
multiprocess
munkres
mutagen
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numexpr
numpy
objgraph
onnxruntime
openai
opencv-python
opencv-python-headless
orjson
oss2
outcome
overrides
packaging
pamqp
pandas
pandocfilters
parsel
parso
patsy
pendulum
pexpect
pickleshare
pika
pillow
pip-review
pipreqs
platformdirs
playwright
pluggy
ply
prometheus_client
prompt_toolkit
propcache
Protego
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pydevd-pycharm
PyDispatcher
pydivert
pydub
pyee
PyExecJS2
Pygments
pyinstrument
pyjsparser
pylangtools
pymilvus
pymongo
Pympler
PyMySQL
pyOpenSSL
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5_sip
pyreadline3
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-slugify
python-socks
python-stdnum
pytz
pytzdata
PyYAML
pyzmq
queuelib
rank-bm25
readchar
redis
referencing
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich
rich-toolkit
rpds-py
ruff
runs
safetensors
scikit-learn==1.4.1.post1
scipy
seaborn
selenium
semantic-version
Send2Trash
service-identity
shellingham
simplejson
sip
six
smmap
sniffio
snowballstemmer
socksio
sortedcollections
sortedcontainers
soupsieve
sqlacodegen
sqlacodegen-v2
SQLAlchemy
sqlite-fts4
sqlite-utils
sqlparse
sse-starlette
stack-data
starlette
statsmodels
streamlit
style
sympy
tabulate
tbb
tcmlib
tenacity
terminado
terminal-layout
terminaltables
text-unidecode
tf-playwright-stealth
thop
threadpoolctl
tiktoken
time-machine
timm
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
transformers
trio
trio-websocket
triton
Twisted
typeguard
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
ultralytics
ultralytics-thop
umf
unicodedata2
Unidecode
update
uri-template
urllib3
uvicorn
uvloop
vine
w3lib
watchdog
watchfiles
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
widgetsnbextension
wordcloud
wsproto
xmod
xxhash
yapf
yarg
yarl
zipp
zope.interface
zstandard
